<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="./dashboard" class="logo "><img src="assets/img/moneylogowhite.png" alt="" ></a>
    <h1 class="logo mr-auto"><a href="">Bucky</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
      

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="./dashboard">Home</a></li>
          <li class="active"><a href="#">Financial Advice</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="drop-down"><a href="">Settings</a>
            <ul>
              <li><a href="/user/logout">Log Out</a></li>
            </ul>
          </li>
          

        </ul>
      </nav><!-- .nav-menu -->

      

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>BUCKY</h1>
          
          <h2>Learn How To Finance Your Future</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

<main id="main">



  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Why Start Investing Early?</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          
          <ul>
            <li><i class="ri-check-double-line"></i> Time allows you to take risks</li>
            <p>
              Typically, when it comes to investing, ventures that are more volatile yield the highest return on investment. 
              Investors, who have the time to recover if something were to go wrong, have the opportunity to make riskier moves.
               Those who begin to invest late in life are often inherently more cautious with how they invest their money.
            </p>
            <li><i class="ri-check-double-line"></i> Compound interest really makes a difference</li>
            <p>
              Essentially, compound interest is the interest earned on interest. 
              By continuously reinvesting your earnings, you are exponentially increasing your return on investment. 
              Savvy investors understand the benefits of investing early and taking advantage of the potential gains from compound interest.
            </p>
            <li><i class="ri-check-double-line"></i> Your quality of life will improve</li>
              <p>
                  Early investment will reduce the risk that you’ll be forced to make reckless choices to secure a stable retirement.
                </p>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
                <li><i class="ri-check-double-line"></i> Your spending habits will improve</li>
                <p>
                    Investing early allows you to develop disciplined spending habits by focusing on your budget and cutting expenses when needed. 
                    The goal here is to earn money by saving money. This is impossible with poor spending habits and a life full of impulse buying. 
                    Through early investment, the lessons learned will pay off in the long run, especially, when you have even more capital to work with and restraint is needed.
                  </p>
               <li><i class="ri-check-double-line"></i> Be a step ahead of everyone else</li>
                  <p>
                      The early bird gets the worm is an idiom worth adhering to. The earlier you begin investing, the better your personal financial situation will be down the line. 
                      Compared to your counterparts, who may have chosen to invest later in life, over time you will be able to afford things that others can’t. 
                      Additionally, at some point your finances may become unstable, but by investing early you’ll be prepared to face such hardships.
                    </p>
            </ul>
            
          
          <a href="https://www.axisbank.com/progress-with-us/invest/top-reasons-to-start-investing-at-an-early-age#:~:text=Early%20investments%20lead%20to%20compounding,the%20world%20of%20finance%20early" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3>Roth IRA <strong>The Basics</strong></h3>

          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> What is a ROTH IRA? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                  <p>
                      A Roth IRA is an individual retirement account that 
                      “allows qualified withdrawals on a tax-free basis provided certain conditions are met”
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> What happens to the money I put into my account? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                  <p>
                      You pay taxes on the money that goes into the account and it grows within that account tax free
                  </p>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> How is a ROTH IRA different from a traditional IRA? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                  <p>
                      Compared to traditional IRAs there are less withdrawal restrictions and requirements meaning you can take out however much you want at any time,
                       and if you decide to leave it all in there the money will pass down to your beneficiaries after you die.
                  </p>
                </div>
              </li>

            </ul>
            <a href="https://www.investopedia.com/terms/r/rothira.asp" class="btn-learn-more">Learn More</a>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/skills.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <h3>401K Retirement Plan</h3>
          <p >
              A 401K plan is a “tax-advantage” retirement account offered by many employers. 
              Tax-advantage means that the money in the account can be exempt from taxation, tax-deferred, or has other tax benefits. 
              So employees can make contribution to this account directly from payroll and some employers may match some or all of their employee’s contributions.
              
          </p>
          <p>- Roth 401ks can be tax-free upon withdrawals  </p>

      

        </div>
      </div>

    </div>
  </section><!-- End Skills Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why A 529 Plan Might Be Right For You</h2>
        </div>
        <p> A 529 plan is a tax-advantaged plan to help pay for education. 
          There are two types of plans: savings and prepaid tuition plans. 
          
           </p>
        <div class="row content">
          <div class="col-lg-6">
            
            <ul>
              <li><i class="ri-check-double-line"></i> Savings Plan</li>
              <p>
                  The savings plan is tax-deferred which means that you can delay paying taxes to some point in the future.
                  The withdrawals are also tax-free as long as they are being used towards educational expenses. 
              </p>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
              <ul>
                  <li><i class="ri-check-double-line"></i> Prepaid Tuition Plans</li>
                  <p>
                      The prepaid tuition plan allows for you to pay the tuition in advance at certain colleges and universities at their current rates. 
                    </p>
              </ul>
              
            
            
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3>How your money can grow over time:</h3>
          <p> Through compound interest the money grows at an increasing rate. 
            Compound interest is the money the bank pays you on your balance in addition to the money. 
            For example id you have $5000 in savings that has an annual percent yield of .55% and the account compounds your interest monthly,
             then after one year without any more deposits the balance would be around $5,028. 
             The national average rate for savings accounts is 0.06%.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="http://www.moneychimp.com/calculator/compound_interest_calculator.htm">Compund Interest Calculator</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <section id="contact" class="contact">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Bucky</h3>
            <p>
              Troy, NY 12180<br>
              United States <br><br>
              <strong>Phone:</strong> +1 518 000 000<br>
              <strong>Email:</strong> financialfive@gmail.com<br>
            </p>
          </div>
          <h5> Don't Let Your Money Get Away From You</h5>
        </div>
      </div>
    </div>
  </section>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        Brought to you by <strong><span>The Financial Five</span></strong>. 
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->



<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>

<% if ( typeof scripts !== 'undefined') { %>
  <% scripts.forEach(function(script){ %>
      <script src="/<%- script %>"></script>
  <% }); %>
<% } %>