<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Register</h1>
      <%- include('partials/messages.ejs')%>
      <form id="regForm" action="/action_page.php">
        <h1 class="page-heading">Welcome To Bucky!</h1>
        <!-- One "tab" for each step in the form: -->
        <div class="tab"><p class="tab-heading">What is your Monthly Budget?</p>
          <p><input placeholder="Enter Monthly Budget (in dollars)" oninput="this.className = ''" name="budget"></p>
        </div>
        <div class="tab"><p class="tab-heading">Select the categories for your expenses.! (You can change them later as well)</p>
          <div class="container">
            <ul class="ks-cboxtags">
              <li><input type="checkbox" id="checkboxOne" value="Food"><label for="checkboxOne">Food</label></li>
              <li><input type="checkbox" id="checkboxTwo" value="Travel"><label for="checkboxTwo">Travel</label></li>
              <li><input type="checkbox" id="checkboxThree" value="Utilities"><label for="checkboxThree">Utilities</label></li>
              <li><input type="checkbox" id="checkboxFour" value="Subscriptions"><label for="checkboxFour">Subscriptions</label></li>
              <li><input type="checkbox" id="checkboxFive" value="Credit Cards"><label for="checkboxFive">Credit Cards</label></li>
              <li><input type="checkbox" id="checkboxSix" value="Healthcare"><label for="checkboxSix">Healthcare</label></li>
              <li><input type="checkbox" id="checkboxSeven" value="Recreation & Entertainment"><label for="checkboxSeven">Recreation & Entertainment</label></li>
              <li><input type="checkbox" id="checkboxEight" value="Miscellaneous"><label for="checkboxEight">Miscellaneous</label></li>
            </ul>
          </div>
        </div>
        <div class="tab"><p class="tab-heading">Please Enter Your Bank Account Number: </p>
          <p><input placeholder="Account Number" oninput="this.className = ''" name="accNumber"></p>
        </div>
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn">Previous</button>
            <button type="button" id="nextBtn">Next</button>
          </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </form>
      <p class="lead mt-4 text-center">Have An Account? <a href="/user/login">Login</a></p>
    </div>
  </div>
</div>