a{
  color: #418465;
}

a:hover{
  color: #18B903;
}

.dont-leave{
  background: rgba(44, 119, 84, 0.9);
}

.top-78{
  padding-top: 78px;
}

.btn-primary{
  background-color: #418465;
  border-color: #418465;
}

.badge-primary{
  background-color: #418465;
  border-color: #418465;
}

.badge-primary:hover{
  background-color: #18B903;
  border-color: #18B903;
}

.hover-pointer:hover{
  cursor: pointer;
}

.add-card{
  color: #418465;
}

.add-card:hover{
  color:  #18B903;
}

.badge-transaction-assign:hover{
  cursor: pointer;
}

.btn-primary:hover{
  background-color: #18B903;
  border-color: #18B903;
}

.btn-primary:focus{
  background-color: #18B903;
  border-color: #18B903;
  box-shadow: none;
}

.text-single-line{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}